.slider-wrapper {
  box-sizing: border-box;
  padding: 10px;
}

.slider-events {
  position: relative;
  padding: 0 5px;
}

.slider-track {
  display: flex;
  position: relative;
  width: 100%;
}

.slider {
    position: absolute;
    left: 0;
    top: 50%;
    height: 3px;
    transform: translate(0, -50%);
    width: 100%;
    background: black;
}

.handleWrapper {
  display: inline-block;
  height: 100%;
}

.handle {
    position: relative;
    display: inline-block;
    z-index: 30;
    width: 20px;
    height: 20px;
}
